In [1]:
import pandas as pd

Series    1D

DataFrame  2D

<!-- 1. Creation/Accesing/Deletion/Manipulation
2. Data Description
3. Statistical Overview
4. String Based Function
5. Joining the data
6. Sorting
7. Function Application
8. Itteration
9. Data Visualization
10. File Handling
11. Missing Data Treatment
12. Data Aggregation & Grouping -->

In [2]:
# 1. Creation/Accesing/Deletion/Manipulation
# 2. Data Description
# 3. Statistical Overview
# 4. String Based Function
# 5. Joining the data
# 6. Sorting
# 7. Function Application
# 8. Itteration
# 9. Data Visualization
# 10. File Handling
# 11. Missing Data Treatment
# 12. Data Aggregation & Grouping

In [3]:
s=pd.Series([1,2,3,4])

In [4]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
s.dtype

dtype('int64')

In [6]:
s.ndim

1

In [8]:
type(s)

pandas.core.series.Series

In [9]:
s.shape

(4,)

In [10]:
s=pd.Series([1,2,3,4],name='Data')

In [11]:
s

0    1
1    2
2    3
3    4
Name: Data, dtype: int64

In [25]:
def print_(data):
    print(data ,end='\n' + '*'*20 +'\n')

In [22]:

print(s[0] ,end='\n' + '*'*20+'\n')

1
********************

In [26]:
print_(s[0:3])

0    1
1    2
2    3
Name: Data, dtype: int64
********************

In [27]:
s[0]=111
print_(s)

0    111
1      2
2      3
3      4
Name: Data, dtype: int64
********************

In [28]:
del s[3]

In [29]:
print_(s)

0    111
1      2
2      3
Name: Data, dtype: int64
********************

In [30]:
s[3]=123

In [31]:
print_(s)

0    111
1      2
2      3
3    123
Name: Data, dtype: int64
********************

In [34]:
del s[2]

KeyError: 2

In [35]:
print_(s)

0    111
1      2
3    123
Name: Data, dtype: int64
********************

In [36]:
s[2]=12
print_(s)

0    111
1      2
3    123
2     12
Name: Data, dtype: int64
********************

In [38]:
#string will be object
s2=pd.Series(['a','b'])
s2

0    a
1    b
dtype: object

In [39]:
s3=pd.Series([[1,2,3,4],[5,6,7,8]])
s3

0    [1, 2, 3, 4]
1    [5, 6, 7, 8]
dtype: object

In [40]:
#int 
s4=pd.Series({'a':5,'b':6})
s4

a    5
b    6
dtype: int64

In [41]:
print_(s4['a'])
print_(s4[0])

5
********************
5
********************

In [42]:
#data frame

In [43]:
df=pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

In [45]:
df=pd.DataFrame([1,2,3,4,5],[11,12,13,14,15])
df

    0
11  1
12  2
13  3
14  4
15  5

In [46]:
df=pd.DataFrame([[1,2],[3,4],[5,6]])
df

   0  1
0  1  2
1  3  4
2  5  6

In [47]:
print_(df.shape)
print_(df.ndim)
print_(df.size)

(3, 2)
********************
2
********************
6
********************

In [48]:
df2=pd.DataFrame({'a':[1],'b':[2],'c':[3]})
df2

   a  b  c
0  1  2  3

In [50]:
df3=pd.DataFrame({'a':[1,2,3],
                  'b':[2,3,4],
                  'c':[3,3,4]})
df3

   a  b  c
0  1  2  3
1  2  3  3
2  3  4  4

In [52]:
df4=pd.DataFrame({'a':[1,2,3],
                  'b':[2,3,4],
                  'c':[3,3,4],
                  'd':'wow'})
df4

   a  b  c    d
0  1  2  3  wow
1  2  3  3  wow
2  3  4  4  wow

In [57]:
df4=pd.DataFrame({'a':[1,2,3],
                  'b':[2,3,4],
                  'c':[3,'hi',8],
                  'd':'wow'})
df4

   a  b   c    d
0  1  2   3  wow
1  2  3  hi  wow
2  3  4   8  wow

In [64]:
# coloum ak series ha
print_(df4['a'])
print_(df4['c'])

0    1
1    2
2    3
Name: a, dtype: int64
********************
0     3
1    hi
2     8
Name: c, dtype: object
********************

In [65]:
print_(df4.loc[0])# row ha

a      1
b      2
c      3
d    wow
Name: 0, dtype: object
********************

In [66]:
print_(df4.T)

     0    1    2
a    1    2    3
b    2    3    4
c    3   hi    8
d  wow  wow  wow
********************

In [67]:
print_(df4.loc[:2])

   a  b   c    d
0  1  2   3  wow
1  2  3  hi  wow
2  3  4   8  wow
********************

In [68]:
df5=df4.values
print_(df5)

[[1 2 3 'wow']
 [2 3 'hi' 'wow']
 [3 4 8 'wow']]
********************

In [69]:
print_(df4['a'])

0    1
1    2
2    3
Name: a, dtype: int64
********************

In [70]:
df4['a']=pd.Series([11,11,11])
print_(df4)

    a  b   c    d
0  11  2   3  wow
1  11  3  hi  wow
2  11  4   8  wow
********************

In [71]:
del df4['d']

In [72]:
print_(df4)

    a  b   c
0  11  2   3
1  11  3  hi
2  11  4   8
********************

In [73]:
print_(df4[['a','b']])

    a  b
0  11  2
1  11  3
2  11  4
********************

In [74]:
print_(df4[['a']])

    a
0  11
1  11
2  11
********************

In [75]:
df4['a']

0    11
1    11
2    11
Name: a, dtype: int64

In [77]:
# data decription

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      object
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [80]:
df4.tail()

    a  b   c
0  11  2   3
1  11  3  hi
2  11  4   8

In [81]:
df4.head()

    a  b   c
0  11  2   3
1  11  3  hi
2  11  4   8

In [ ]:
# for making the data set
# title
# junor
# length
# flop/hit
# languaes
# audelt+18


# Cont