In [1]:
h= print('hi')

hi

In [2]:
h

In [3]:
type(h)

NoneType

In [4]:
i=input("name")

In [5]:
i

'hi'

In [6]:
p=input()
print(p)
#enter 5+5
print(eval(p))

5+5
10

In [9]:
#mutabality

s ='hello ,this is a new process'

len(s)
type(s)

str

In [8]:
type(s)

str

In [25]:
print(s[-24:-29:-1])

olleh

In [27]:
print(s[-24:-29:-1])

olleh

In [28]:
s[::-1]

'ssecorp wen a si siht, olleh'

In [29]:
s[5::-1]

' olleh'

In [31]:
s[0]

'h'

In [33]:
'hi ' * 10

'hi hi hi hi hi hi hi hi hi hi '

In [34]:
'hi '  + 'by'

'hi by'

In [37]:
s+= ' hera '
s

'hello ,this is a new processherahera  hera '

In [38]:
s =s[:5]  + 'ishu ' + s[5:]

In [39]:
s

'helloishu  ,this is a new processherahera  hera '

In [41]:
s= s.split(", ")
s

['helloishu  ,this is a new processherahera  hera ']

In [42]:
del s[0]

In [45]:
print(s)

[]

In [1]:
a='dddd'

In [51]:
a=[1,[2,3,4]]

In [52]:
a[1]

[2, 3, 4]

In [53]:
a[-1]

[2, 3, 4]

In [54]:
a[-1][-1]

4

In [55]:
[2,3,4] * 2

[2, 3, 4, 2, 3, 4]

In [57]:
aa= ['fdfvluhsdjulvbsljudfvhbsu', 4444.33,333]

In [58]:
aa

['fdfvluhsdjulvbsljudfvhbsu', 4444.33, 333]

In [59]:
del aa[0]

In [60]:
aa

[4444.33, 333]

In [62]:
aa[1] =111

In [63]:
aa

[4444.33, 111]

In [64]:
b=('a','b','c')

In [65]:
b

('a', 'b', 'c')

In [66]:
b[1]

'b'

In [67]:
b[0:2]

('a', 'b')

In [68]:
(1,2) *2

(1, 2, 1, 2)

In [71]:
del b[0]

TypeError: 'tuple' object doesn't support item deletion

In [72]:
b[1] =111

TypeError: 'tuple' object does not support item assignment

In [74]:
b+= 'd'

TypeError: can only concatenate tuple (not "str") to tuple

In [75]:
set ={1,2,3,4,4,5}

In [76]:
set

{1, 2, 3, 4, 5}

In [77]:
set[1]

TypeError: 'set' object is not subscriptable

In [78]:
set[1:5]

TypeError: 'set' object is not subscriptable