In [1]:
print(4)

4

In [3]:
def loda():
    print("pandit")


loda()

pandit

In [4]:
def hii(x,y):
    return x*2  ,x+y


hii(3,4)

(6, 7)

In [7]:
a,b = hii(1,2)

In [8]:
print(a)
print(b)

2
3

In [9]:
c=5
d=5
a,b = hii(c,d)
print(a)
print(b)

10
10

In [10]:
def hii(x=2,y=4):
    return x*2  ,x+y


hii()

(4, 6)

In [12]:
def hii(x,y=5):
    return x*2  ,x+y


hii(4)

(8, 9)

In [15]:
def hello(x =6, y =4,*p ,**q):
    print(x,y,p,q)    
    print(x)    
    print(y)    
    print(p)    
    print(q)

In [16]:
hello()

6 4 () {}
6
4
()
{}

In [17]:
hello(1,1)
hello(1,1)

1 1 () {}
1
1
()
{}

In [19]:
hello(1,1,2,3,4,45,5,5,5)

1 1 (2, 3, 4, 45, 5, 5, 5) {}
1
1
(2, 3, 4, 45, 5, 5, 5)
{}

In [20]:
hello(1,1,m=5,n=3,w=33)

1 1 () {'m': 5, 'n': 3, 'w': 33}
1
1
()
{'m': 5, 'n': 3, 'w': 33}

In [23]:
#try and catch

try:
    a=10
    b=5.0
    c=a/b
    print(c)


except ValueError as err:
    print(err)    


print("work done")

2.0
work done

In [29]:
#try and catch

try:
    a=10
    b=0
    c=a/b
    print(c)


except ZeroDivisionError as err:
    print(err)
    print(b)    


print("work done")

division by zero
0
work done

In [34]:
#try and catch

try:
    a=10
    b=int(input())
    c=a/b
    print(c)


except ZeroDivisionError as err:
    print(err)
    print(b)    


except Exception as err:
    print(err)

print("work done")

invalid literal for int() with base 10: ''
work done

In [31]:
#try and catch

try:
    a=10
    b=int(input())
    c=a/b
    print(c)


except ZeroDivisionError as err:
    print(err)
    print(b)    


print("work done")

4.5000000000000005e-15
work done

In [36]:
#try and catch

try:
    a=10
    b=int(input())
    c=a/b
    print(c)


except ZeroDivisionError as err:
    print(err)
    print(b)    

finally:
    print("run hoga hi hoga")
print("work done")

run hoga hi hoga

ValueError: invalid literal for int() with base 10: ''

In [38]:
a=10

def aa():
    a=20
    print(a)

print(a)    
aa()
print(a)

10
20
10

In [40]:
a=10

def aa():
    global a
    a=20
    print(a)

print(a)    
aa()
print(a)

10
20
20

In [41]:
x=aa

In [42]:
x

In [43]:
x()

20

In [48]:
def pop():
    print("hi")

In [46]:
def qq(f):
    f()

In [49]:
qq(pop)

hi

In [62]:
def aws(f,m,n):
    return pop, m+n

In [63]:
p,_ = aws(f,2,3)

NameError: name 'f' is not defined

In [61]:
p()

TypeError: 'tuple' object is not callable

In [64]:
#decorator

def nayawala(f):
    def specail():
        print('first line')
        f()
        print('hello')

    return specail

In [65]:
@nayawala
@nayawala
def simple():
    print("hi")

In [66]:
simple()

first line
first line
hi
hello
hello

In [69]:
#decorator

def nayawala1(f1):
    def specail1():
        print('2nd ')
        f1()
        print('2nd')

    return specail1

In [71]:
@nayawala1
@nayawala
def simple1():
    print("hi")

In [72]:
simple1()

2nd
first line
hi
hello
2nd

In [73]:
#lambda function

In [74]:
# lambda ip_args: op_args

In [75]:
normal=lambda x,y :x*y
normal(2,2)

4

In [77]:
def my_mapper(fun,values):
    result=[]
    for value in values:
        result += [fun(value)]

    return result


data =[1,2,3,4,5,6,6,7,8,]

print(my_mapper(lambda x:x*2 , data))
#print(my_mapper(lambda x:x*2 , data))
print(my_mapper(lambda x:str(x) , data))

[2, 4, 6, 8, 10, 12, 12, 14, 16]
['1', '2', '3', '4', '5', '6', '6', '7', '8']